body {
    background-color: #e6e1e1;    

}
h1 {
    color: #5b3e14;
    text-align: left;

}
h4 {
    color: #141009;
    text-align: left;
    
}
h2{
    color: #0d0d0b;
    text-align: left;
    text-decoration: underline;
    
}
p {
    color: #0d0d0b;
    text-align: left;
    font-style: italic;
}
 ul {
    color: #c30f4b;
    text-align: left;
    font-style: italic;

}
h1{
    color: #121312;
}
